@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <!--<LoginDisplay />-->
            <a href="https://discordapp.com/users/Ginger#0420/" target="_blank">Discord</a>
            <a href="https://github.com/GingerLukas" target="_blank">About</a>
        </div>

        <div class="content px-4" style="height: 90%">
            @Body
        </div>
        <div style="text-align: center;">This is very early alpha build, if you encounter any problems try CTRL+F5 first before contacting me</div>
        
    </div>
</div>
