@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <NavMenu></NavMenu>

        <div class="content px-4" style="height: 90%">
            @Body
        </div>
        <div style="text-align: center;">This is very early alpha build, if you encounter any problems try CTRL+F5 first before contacting me</div>
        
    </div>
</div>
