@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <!--<LoginDisplay />-->
            <form style="display: flex;justify-content: center" action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="E3PGVUCL9VT6U" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_CZ/i/scr/pixel.gif" width="1" height="1" />
            </form>
            <a href="https://discordapp.com/users/Ginger#0420/" target="_blank">Discord</a>
            <a href="https://github.com/GingerLukas" target="_blank">About</a>

        </div>

        <div class="content px-4" style="height: 90%">
            @Body
        </div>
        <div style="text-align: center;">This is very early alpha build, if you encounter any problems try CTRL+F5 first before contacting me</div>
        
    </div>
</div>
