@using System.Collections.ObjectModel
<div class="top-row px-4 auth" style="grid-template: 100%/1fr 1fr 1fr; display: grid;">
    <div class="nav-item">
        <a class="navbar-brand" href="">Ginger's GreyHack tools</a>
    </div>
    <div class="nav-item">

    </div>
    <div class="nav-item" style="justify-content: flex-end;">
        <!--<LoginDisplay />-->
        <form style="margin-left: 1.5rem; display: contents;" action="https://www.paypal.com/donate" method="post" target="_blank">
            <input type="hidden" name="hosted_button_id" value="E3PGVUCL9VT6U" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_CZ/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <a href="https://discordapp.com/users/Ginger#5108/" target="_blank">Discord</a>
        <a href="https://github.com/GingerLukas" target="_blank">About</a>
    </div>
            

</div>
